:root {
  --background: #0d0e0f;
  --foreground: #ebdbb2;
  --primary: #1f45a5;
  --secondary: #202020;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Meslo", "Arial", sans-serif;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
bdi,
li,
span,
button,
div {
  color: var(--foreground) !important;
}

.is-sender .message-contents {
  background-color: var(--primary);
}

.virtual-list {
  background-color: var(--secondary);
}

.account-switcher {
  background-color: var(--background);
}

.prefs-view .selected,
.prefs-right-pane .on {
  background-color: var(--primary);
}
