:root {
}

body {
  background-color: #0d0e0f;
  color: #ebdbb2;
  font-family: "Meslo", "Arial", sans-serif;
  font-size: 12px;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body bdi,
body li,
body span,
body button,
body div {
  color: #ebdbb2 !important;
}

.is-sender .message-contents {
  background-color: #1f45a5;
}
.virtual-list {
  background-color: #202020;
}
.account-switcher {
  background-color: #0d0e0f;
}
.prefs-view .selected {
  background-color: #1f45a5;
}

.prefs-right-pane .on {
  background-color: #1f45a5;
}
