# Ignore auto-save files
auto-save-list/
# Ignore Emacs backup files
*~
*.~undo-tree~
# Ignore installed packages
elpa/
# Ignore session data
transient/
# Ignore recent files
recentf
# Ignore URL cache
url/
# Ignore compiled files
eln-cache/
